body {

    font: 16px/28px arial, sans-serif;
    background-color: rgb(213, 194, 172);
    color: rgb(0, 0, 0);
}




.container {
    width: 900px;
    margin: auto;
    background-color: rgb(221, 214, 204);
}

.header {
    padding: 20px;
}


.header .judul {
    font-size: 40px;
    font-weight: bold;

}

.header ul li{

    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}

.header a {
    text-decoration: none;
    color: black;
    padding: 3px;
}

.header a:hover {
    background-color: rgb(98, 98, 102);
    color: rgb(226, 222, 222);
}

.hero img {
    height: 506px;
    border-top: 5px solid rgb(158, 145, 145);
    border-bottom: 5px solid rgb(157, 153, 153);
 
}

.content {
    padding: 20px; 

}

.content h2 {
    font-size: 25px;
    font-weight: bold;
}


.content{
    font-size: 11px;
    margin-top: -5px;
}


.content .penulis {
    color: rgb(54, 54, 201);
    text-decoration:none;
    margin-top: -5px;
}

.content p {
    margin-bottom: 20px;
    font-size: 14px;
}

.footer {
    background-color: rgb(87, 77, 62);
    padding: 10px;
}

.footer .copy {
    color: rgb(214, 218, 218);
    text-align: center;
    font-size: 10px;
}